{% extends 'partials/layout.njk' %}
{% block content %}
  {% include 'partials/hero.njk' %}
  {% include 'partials/whoweare.njk' %}
  {% include 'partials/players.njk' %}
  {% include 'partials/games.njk' %}
  
  {% include 'partials/footer.njk' %}
{% endblock %}